<div>

    {% for workspace in workspaces %}

    <div>

        <a href="{% url 'user_profile' workspace.workspace_host.id %}"> @{{workspace.workspace_host.username}} </a>

    </div>

    <div>
    
        <a href="{% url 'workspace_url' workspace.id %}"> {{workspace.workspace_name}} </a>

        {% if request.resolver_match.view_name == 'user_profile' %}
              
            {% if request.user == workspace.workspace_host %}
            
            <br>

            <a href="{% url 'update_workspace' workspace.id %}"> Edit this workspace </a>
            &nbsp
            <a href="{% url 'delete_workspace' workspace.id %}"> Delete this workspace </a>
            &nbsp
            <a href="{% url 'view_quizzes' %}"> View quizzes </a>

            {% endif %}
            
        {% endif %}
        
        <br>

        {{workspace.workspace_lecturers.all.count}} learnee's.
   
        <br>
   
        Tag: {{workspace.workspace_subject.subject_name}}
   
        <hr>
   
    </div>

    {% endfor %}

</div>