{% extends 'learnapp_main.html' %}

{% block content %}

<style>
    .workspace-container {
        display: grid;
        grid-template-columns: 3fr 1fr;
    }
</style>

<div class="workspace-container">
    <div>

        <h1> {{ workspace.workspace_name}} </h1>

        <p>{{workspace.workspace_description}}</p>

        <div class="message-wrapper">
            <h3>Subject discussion:</h3>
            <hr>

            {% for message in workspace_messages %}
            <div>
                {% if request.user == message.user%}
                <a href="{% url 'delete_message' message.id %}">Delete</a>
                {% endif %}
                <small>
                    @{{message.user}} {{message.message_created|timesince}} old.
                </small>
                <p>{{message.message_body}}</p>
                <hr>
            </div>
            {% endfor %}
        </div>

        {% if request.user.is_authenticated %}
        <div class="message-form">
            <form method="POST" action="">
                {% csrf_token %}
                <input type="text" name="body" placeholder="Add knowledge..." />
            </form>
        </div>
        {% endif %}

    </div>

    <div>
        <h3>Lecturers</h3>
        <hr>

        {% for lecturer in lecturers%}
            <div>
                <p>@{{lecturer.username}}</p>
            </div>
        {% endfor %}
    </div>

</div>

{% endblock %}