{% extends 'learnapp_main.html' %}

{% block content %}

<style>
    .profile-container{
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
    }
</style>

<h1>{{user.username}}'s profile.</h1>

<div class="profile-container">

    <div>

        {% include 'learnApp/subjects_component.html' %}

    </div>

    <div>
        <h3>Hosted workspaces:</h3>
        <hr>
        
        {% include 'learnApp/feed_component.html' %}

    </div>

    <div>

        {% include 'learnApp/activity_component.html' %}

    </div>


</div>

{% endblock content %}